@font-face {
    font-family: "messeri";
    src: url(fonts/ElMessiri-Regular.ttf);
}

@font-face {
    font-family: "messeri-bold";
    src: url(fonts/ElMessiri-Bold.ttf);
}

/* ----------------------------------------------------------- */

html,
body {
    height: 100%;
}

:root {
    --light: #f5f5f5;
    --dark: #364f6b;
}

* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    height: 100%;
    margin: auto;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

h1,
h2,
h3 {
    font-family: "messeri-bold";
    margin-bottom: 2rem;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    display: none;
}

/* ----------------------------------------------------------- */

form {
    height: 100vh;
    overflow: auto;
    margin: auto;
}

form,
form div {
    padding: 10px 0;
}

label,
button,
legend {
    font: 1rem "messeri-bold";
}

select,
input,
textarea {
    font: 1rem "messeri";
}

input,
textarea,
select {
    padding: 5px;
}

textarea {
    height: 100px;
}

select,
textarea,
input,
button {
    width: 100%;
}

fieldset {
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

button {
    margin: 50px 0;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}

[type="file"] {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
}

[type="file"]:hover {
    background-color: rgb(225, 238, 234);
    cursor: pointer;
}

/* ----------------------------------------------------------- */

.grid {
    display: grid;
    gap: 10px;
}
.cols {
    grid-template-columns: repeat(12, 1fr);
}
.rows {
    grid-template-rows: repeat(12, 1fr);
}

.flex {
    display: flex;
    gap: 10px;
}

.flex-col {
    flex-direction: column;
}
.around {
    justify-content: space-around;
}
.between {
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}

.m-auto {
    margin: auto;
}

/* ----------------------------------------------------------- */
.hero {
    min-height: max-content;
    padding-top: 2rem;
    background-color: var(--light);
}

.about,
.services,
.projects {
    padding: 6rem 0;
}

.services {
    background-color: var(--light);
}

.projects {
    background-color: var(--dark);
}

header {
    grid-row: 1/4;
}
main {
    grid-row: 4/10;
}
.links {
    grid-row: 11/13;
    margin: auto;
}
.logo {
    max-width: 7rem;
    grid-column: 2/4;
}
.nav {
    grid-column: 8/13;
}

@media (max-width: 768px) {
    .logo {
        margin: auto;
        text-align: center;
    }
    .logo,
    .nav {
        grid-column: 1/13;
    }
}

.main-paragraph {
    grid-column: 2/7;
}

.main-paragraph p,
.about p {
    font-size: 2rem;
    padding-left: 2rem;
    line-height: 1.5;
}

.main-figure {
    grid-column: 8/12;
}

@media (max-width: 768px) {
    .main-figure,
    .main-paragraph {
        grid-column: 2/12;
    }
}

.service,
.project {
    width: 30%;
    border: 2px solid #eee;
    padding: 3rem 1.5rem;
    margin: 1rem;
}

@media (max-width: 768px) {
    .service,
    .project {
        width: 100%;
    }
}

footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #000;
    color: #fff;
}

/* ----------------------------------------------------------- */

.dashboard {
    background-color: #fc5185;
    color: white;
    height: 100vh;
    width: 25%;
    min-width: fit-content;
}

.dashboard > h2 {
    padding: 2rem;
    color: #f1eaec;
}

.dashboard > a {
    padding: 2rem 4rem;
    border-radius: 10px;
    font: 1.5rem "messeri-bold";
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.dashboard > a:hover {
    background-color: #f1eaec;
    color: #fc5185;
    cursor: pointer;
}

.form-container {
    height: 100vh;
    margin: auto;
    padding-top: 20px;
}

/* ----------------------------------------------------------- */
